.island-image {
  display: none;
}
.rocketship {
  display: none;
}
#active {
  display: block;
  position: absolute;
}
#active .island-image {
  bottom: 20px;
}
#active .rocketship {
  right: 10px;
  height: 300px;
}
