<div id="container">
    <div id="user-message"> </div>
</div>
<div id="game-name">
<h1>Rocket Ship</h1>
<p>Welcome aboard the hottest new game of team PowerPuff.<br>
<p>Get set to launch your rocket to travel to tropcial holiday locations.<br>
<p>If you're ready, sign in.</p>

</div>
