<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <script src="/js/controller.js"></script>
  <script src="/js/view.js"></script>
  <script src="/js/user_model.js"></script>
  <script src="/js/rocket_model.js"></script>

  <title></title>
</head>
<body>

  <div id="nav-bar">
    <% if @user %>
      <form id="log-out" method='get' action='/sign-out'>
        <input type='submit' value='Sign out'/>
      </form>
    <% end %>
  </div>

  <%= yield %>

  <div id="control-panel">
    <% if @user %>
      <h1>Welcome <%= @user.name %></h1>
      <button id="start">Launch</button>
      <button id="stop">STOP</button>

    <% else %>

      <% if @message %>
        <%= @message %>
      <% end %>
      <form id="log-in" method='post' action='/sign-in'>
        <input type='text' name='name'/>
        <input id='sign-in-button' type='submit' value='Sign in'/>
      </form>
    <% end %>
  </div>

  <div>
    <img class="island-image" alt="Island" src="../css/imgs/islandimage.png" />
  </div>
  <div>
    <img class="rocketship" alt="Rocketship" src="../css/imgs/rocket.png" />
  </div>
  <div id="landing_pad" >
  </div>
</body>
</html>
